<footer class="footer">
  <div class="container-footer">
    <div class="footer-logo">
      <img src="{{ asset('divers/images/logo.png') }}" alt="MétéoDirect" class="logo-footer">
    </div>
  </div>
  <div class="footer-copy">
    &copy; {{ "now"|date('Y') }} MétéoDirect. Tous droits réservés.
  </div>
</footer>